html, body {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

:root {
  --standard-padding: 16px;
  --standard-large-padding: 32px;
  --standard-xl-padding: 64px;
}

.has-xl-padding {
  padding: var(--standard-xl-padding);
}
